<template>
  <div>
    <slot v-if="title">
      <div class="title">
        <h1>{{ title | capitalize }}</h1>
      </div>
    </slot>
    <image-slideshow :images="images"/>
  </div>
</template>

<script>
import ImageSlideshow from '../generic/ImageSlideshow.vue'

export default {
  name: `breed`,
  props: {
    id: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      title: null,
      images: []
    }
  },
  components: {
    ImageSlideshow
  },
  async mounted() {
    try {
      if(!this.$route.params.subid){
        const res = await this.$axios.get('breed/' + this.$route.params.id + '/images')
        this.images = res.data.message
        this.title = this.$route.params.id
      } else {
        const res = await this.$axios.get('breed/' + this.$route.params.id + '/' + this.$route.params.subid + '/images')
        this.images = res.data.message
        this.title = this.$route.params.id + ' - ' + this.$options.filters.capitalize(this.$route.params.subid);
      }
    } catch (e) {
      this.$router.push('/error')
    }
  }
};
</script>

<style lang="scss" scoped>
  .title{
    width: 100%;
    text-align: center;
    margin: 10px;
  }
</style>
