<template>
  <div>
    <search-bar-component
      v-model="searchText"
      placeholder="Enter text to filter breeds..."
    />
    <list-component
      :items="breedsFiltered"
      @selected="petSelected"
    />
  </div>
</template>

<script>
import SearchBarComponent from '../generic/SearchBarComponent.vue'
import ListComponent from '../generic/ListComponent.vue'
export default {
  data() {
    return {
      searchText: ''
    }
  },
  components: {
    ListComponent,
    SearchBarComponent
  },
  computed: {
    breedsFiltered() {
      let breeds = Object.keys(this.breeds)
      if(this.searchText!=''){
        breeds = breeds.filter(item => {
          let itemLowerCase = item.toLowerCase();
          return itemLowerCase.includes(this.searchText.toLowerCase());
        })
      }
      return breeds
    },
    breeds() {
      const id = this.$route.params.id
      if(id){
        const breeds = this.$store.getters.getBreeds
        if(breeds[id]){
          const newBreeds = {};
          breeds[id].forEach(element => {
            newBreeds[element] = [];
          });

          return newBreeds;
        } else {
          return {};
        }
      } else {
        return this.$store.getters.getBreeds
      }
    }
  },
  methods: {
    petSelected(selected){
      if(this.$route.params.id){
        this.$router.push('/breed/' + this.$route.params.id + '/' + selected)
      } else {
        if(this.breeds[selected].length > 0){
          this.$router.push('/breeds/'+selected)
        } else {
          this.$router.push('/breed/'+selected)
        }
      }
    }
  }
}
</script>
