<template>
  <layout-default>
    <div>
      <breeds-container/>
    </div>
  </layout-default>
</template>

<script>
import BreedsContainer from '../components/breeds/BreedsContainer.vue'
export default {
  name: `breeds`,
  components: {
    BreedsContainer
  }
};
</script>
