<template>
  <layout-default>
    <div>
      <breed-container :id="id"/>
    </div>
  </layout-default>
</template>

<script>
import BreedContainer from '../components/breeds/BreedContainer.vue'

export default {
  name: `breed`,
  components: {
    BreedContainer
  },
  data() {
    return {
      id: ''
    }
  },
  async mounted() {
    if(this.$route.params.id){
      this.id = this.$route.params.id;
    } else {
      this.$router.push('/error')
    }
  }
};
</script>
