<template>
  <div>
    <v-app-bar
      color="blue darken-3"
      dark
    >
      <v-app-bar-nav-icon @click="$emit('showMenu')"></v-app-bar-nav-icon>
      
      <router-link to="/">
        <v-toolbar-title>
          Sipay Pets
        </v-toolbar-title>
      </router-link>
      <v-toolbar-items>
        <img 
          src="../assets/logo.svg"
          class="logo"
        />
      </v-toolbar-items>
      <div class="flex-grow-1"></div>    
      <router-link
        to="/breeds"
      >
        <v-btn text>All breeds</v-btn>
      </router-link>
    </v-app-bar>
  </div>
</template>
<style lang="scss" scoped>
  @import '../assets/colors.scss';

  .logo {
    width: 60px;
    margin-left: 10px;
    filter: invert(100%);
  }
  .v-application a {
    color: $white !important;
    text-decoration: none;
  }
</style>