<template>
  <div>
    <v-navigation-drawer
    v-model="show"
    absolute
    temporary
    >
      <v-list-item>
        <v-list-item-avatar>
          <v-img src="../assets/logo.svg"></v-img>
        </v-list-item-avatar>
        <v-list-item-content>
          <v-list-item-title>List</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-divider/>
      <v-list dense>
        <v-list-item
          v-for="item in items"
          :key="item.title"
          link
        >
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <router-link
              :to="item.link"
            >
              <v-list-item-title>{{ item.title }}</v-list-item-title>
            </router-link>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
  </div>
</template>

<script>
export default {
  name: `LeftBar`,
  props: ['value'],
  data () {
    return {
      show: this.value,
      items: [
        {
          title: 'All Breeds',
          icon: 'mdi-dog',
          link: '/breeds'
        }
      ]
    }
  },
  watch: {
    value: function(val) {
      this.show = val
    },
    show: function (val) {
      this.$emit('input', val)
    }
  }
}
</script>

<style lang="scss" scoped>
  @import '../assets/colors.scss';

  .v-application a {
    color: $grey;
    text-decoration: none;
  }
</style>
