<template>
  <div>
    <Header @showMenu="showLeftBar=!showLeftBar"/>
    <left-bar v-model="showLeftBar"/>
    <div class="container">
        <slot/>
    </div>
    <Footer/>
  </div>
</template>

<script>
import LeftBar from '../components/LeftBar.vue';
import Header from '../components/Header.vue';
import Footer from '../components/Footer.vue';

export default {
  name: `LayoutDefault`,
  components: {
    Header,
    Footer,
    LeftBar
  },
  data() {
    return {
      showLeftBar: false,
    };
  },
  mounted() {
    this.$store.dispatch('loadBreeds')
  },
}
</script>
<style lang="scss">
@import '../assets/main.scss';
@import '../assets/colors.scss';
</style>