<template>
  <div>
    <div class="mainImage">
      <img :src="actualImageSelected">
    </div>
    <hr>
    <div class="flex">
      <div
        v-for="(image, index) in imageSet"
        :key="index"
        @click="selectImage(image)"
        class="child imageBox"
      >
        <img
          :src="image"
          :class="{  'selected' : actualImageSelected == image}"
        >
      </div>
    </div>
    <div class="flex">
      <div
        v-if="page > 1"
        @click="page = page-1"
        class="child arrowBox"
      >
        <div class="arrow-left"/>
      </div>
      <div
        v-if="images.length >= page*perPage"
        @click="page = page+1"
        class="child arrowBox"
      >
        <div class="arrow-right"/>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    images: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      selectedImage: '',
      selectedImageIndex: '',
      perPage: 5,
      page: 1
    }
  },
  computed: {
    actualImageSelected() {
      if(!this.selectedImage) {
        return this.images[0];
      } else {
        return this.selectedImage;
      }
    },
    imageSet() {
      var toIndex = this.perPage * this.page;
      var FromIndex = (this.perPage * (this.page-1)) + 1;
      if(this.images.length < toIndex){
        toIndex = this.images.length;
      }
      if(this.images.length < FromIndex){
        FromIndex = 0;
      }
      return this.images.slice(FromIndex-1, toIndex);
    }
  },
  methods: {
    selectImage(image) {
      this.selectedImage = image;
      window.scrollTo(0, 0);
    }
  },
}
</script>
<style lang="scss" scoped>
@import '../../assets/colors.scss';

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.mainImage {
  max-width: 90%;
  margin: 15px auto;
  height: 450px;
  text-align: center;
  position: relative;
}
.mainImage img {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.flex .child {
  width:  200px;
  height: 200px;
}
.imageBox {
  padding: 10px;
  margin: 20px;
  border-radius: 20px;
  text-align: center;
  position: relative;
}
.imageBox img {
  max-width: 90%;
  max-height: 90%;
  height: auto;
  width: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.arrowBox {
  padding: 10px;
  margin: 20px;
  text-align: -webkit-center;
}
.arrow-right {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid $grey;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
}
.arrow-left {
  width: 0;
  height: 0;
  border-top:  20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid $grey;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
}
.selected {
  border: 1px $yellow solid;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(224,213,0,1);
  -moz-box-shadow: 0px 0px 30px 0px rgba(224,213,0,1);
  box-shadow: 0px 0px 30px 0px rgba(224,213,0,1);
}


/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  .flex .child {
    width:  80px;
    height: 80px;
  }
}
</style>
