<template>
  <div>
    <div class="flex">
      <v-card
        v-for="(item, index) in items"
        :key="index"
        class="mx-auto child"
      >
        <v-card-title>{{ item | capitalize }}</v-card-title>
        <v-card-actions>
          <v-btn @click="$emit('selected', item)">Open</v-btn>
        </v-card-actions>
      </v-card>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    items: {
      type: Array,
      required: true
    }
  }
}
</script>

<style lang="scss">
.flex {
  display: flex;
  flex-wrap: wrap;
}
.child {
  width: 300px;
  margin: 5px;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  .child {
    width: 200px;
    margin: 5px;
  }
  .v-card__title {
    font-size: 1.2rem;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .child {
    width: 150px;
    margin: 5px;
  }
  .v-card__title {
    font-size: 1rem;
  }
}
</style>
