<template>
    <div class="searchBox">
        <input
            type="text"
            v-model="searchText"
            :placeholder="placeholder"
            @input="$emit('input', searchText)"
        >
    </div>
</template>

<script>
export default {
  name: `SearcgBarComponent`,
  props: {
    value: {
      type: String,
      required: true
    },
    placeholder: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      searchText: this.value
    }
  }
}
</script>

<style lang="scss">
@import '../../assets/colors.scss';

.searchBox {
  width: 100%;
  height: 60px;
  margin-top: 20px;
}
.searchBox input {
  width: 100%;
  height: 90%;
  border: 2px $grey solid;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  background-color: $white;
}
</style>
